@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    color:black;
    background-color: #e4b95b;
    justify-content: center;
    }
.main{
    width: 350px;
    height: 500px;
    padding: 60px 35px 35px 35px;
    border-radius: 20px;
    transition: all .1s ease;
    font-family: sans-serif;
    font-weight: 700;
   }
.main:hover{
    box-shadow: 13px 13px 20px white,
                -13px -13px 20px white ;
    transition: all .5s ease;
    background-color:black;
    color: white;
}
.title{
    text-align: center;
    font-size: 40px;
    letter-spacing: .5px;
    margin: 5px;
    font-family:"Poppins", sans-serif;
   }
.credentials{
    width: 100%;
    padding: 2px 5px 0px 5px;
    margin-top: 25px;
}
.credentials input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color:gray;
    padding: 20px 10px 20px 5px;
    letter-spacing: 1px;
}
.username{
    margin-bottom: 20px;
    border-bottom: 2px solid orangered;
    transition: .5s ease;
}
.username:hover{
    border-bottom: 3px solid #e4b95b;
}
.password{
    margin-bottom: 20px;
    border-bottom: 2px solid orangered;
    transition: .5s ease;
}
.password:hover{
    border-bottom: 3px solid #e4b95b;
}
.submit{
    outline: none;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right,orangered 0%,#e4b95b 51%,orangered 100%);
    background-size: 200%;
    box-shadow: 3px 3px 8px turquoise,
                -3px -3px 8px #fff;
    transition: .5s;
    margin-top: 60px;
}
.submit:hover{
    background-position: right;
    color: white;
}
.links{
    margin: 10px;
    text-align: center;
}
.links a{
    color: #aaa;
    font-size: 15px;
    text-decoration: none;
}
#lock{
    fill:black;
}
#account{
    fill:black;
}
a.d{
    color: white;
}
a.j{
    color:orangered;
}
