@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    color:black;
    background-color: #e4b95b;
    justify-content: center;
    }
    .mmmm{
        width: 350px;
        height: 300px;
        padding: 60px 35px 35px 35px;
        border-radius: 20px;
        transition: all .1s ease;
        font-family: sans-serif;
        font-weight: 700;
  }
  .mmmm:hover{
    box-shadow: 13px 13px 20px white,
                -13px -13px 20px white;
    transition: all .5s ease;
    background-color:black;
    color: white;
}
  
    .mmmm h5{
      text-align: center;
      font-size: 12px;
    }

      .mmmm h1{
        text-align: center;
        font-size: 30px;
        color:orangered;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;
        margin-top:2px;
      
      }
      .rrrr   a {
        color :orangered;
        text-decoration: none;
        font-weight: 600;
        padding: 7px;
        font-size: 20px;
      }
      .rrrr  a {
        text-decoration: underline;
      }
     .rrrr  a {
        font: size 15px;
      }
      form input{
        width: 60%;
        height: 25px;
        border: 1px solid gray;
        outline: none;
        color:gray;
      }
      .input-box{
        display: flex;
        justify-content: center;
        text-align: center;
      }
      